<% content_for :page_title, "Home" %>


<% @posts.each  do  |post| %>
<h1><%= post.title %></h1>
<h5><% post.authour %></h5>
<p> <%= post.content %></p>
 <%= time_ago_in_words ( post.created_at) %>
<% end %>

