<%= content_for :page_title, @post.title %>
  

<div class="section">
<div class="container has-text-centered">
<h2 class="title ">
<%= @post.authour %>
</h2>
<p >
<%= @post.content%>
</p>
</div>
</div>
